@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $SpartanFont;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    background: url("./images/bg-pattern-top-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    margin: 5vh 3.75vw;

    h1 {
      margin-top: 15vh;
      color: $veryDarkMagenta;
      font-weight: 700;
      margin-bottom: 6vh;
    }

    #intro {
      margin-bottom: 6vh;
      color: $darkGrayishMagenta;
      font-weight: 500;
    }

    .rated {
      background-color: $lightGrayishMagenta;
      border-radius: 2vw;
      margin-bottom: 3vh;
      padding: 3vh;

      .stars {
        margin-bottom: 2vh;
      }

      h4 {
        color: $veryDarkMagenta;
        font-weight: 700;
      }
    }

    .card {
      margin-bottom: 4vh;
      border-radius: 2vw;
      background: $veryDarkMagenta;
      color: $white;
      padding: 5vh;

      .identity {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-bottom: 3vh;

        img {
          border-radius: 10vh;
          height: 10vh;
        }

        .data {
          margin-top: 2vh;
          margin-left: 5vw;

          h4 {
            margin-bottom: 1vh;
            font-weight: 700;
          }

          span {
            color: $softPink;
            font-weight: 500;
          }
        }
      }

      p {
        font-weight: 400;
        font-size: $fontSize;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    background: url("./images/bg-pattern-top-desktop.svg");
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    margin: 5vh 3.75vw;

    h1 {
      margin-top: 15vh;
      color: $veryDarkMagenta;
      font-weight: 700;
      margin-bottom: 3vh;
      font-size: 5vh;
      width: 30vw;
      text-align: left;
    }

    #intro {
      margin-bottom: 6vh;
      color: $darkGrayishMagenta;
      font-weight: 500;
      width: 30vw;
      text-align: left;
      font-size: 2vh;
    }

    .rated {
      background-color: $lightGrayishMagenta;
      border-radius: 1vw;
      margin-bottom: 3vh;
      padding: 3vh;
      width: 35vw;
      display: flex;
      flex-direction: row;

      .stars {
        margin-right: 2vh;
      }

      h4 {
        color: $veryDarkMagenta;
        font-weight: 700;
      }
    }

    .info {
      display: flex;
      flex-direction: row;

      .card {
        margin-bottom: 4vh;
        border-radius: 1vw;
        background: $veryDarkMagenta;
        color: $white;
        padding: 2.5vh;
        width: 30vw;
        margin-right: 5vw;

        .identity {
          display: flex;
          flex-direction: row;
          justify-content: left;
          margin-bottom: 2vh;

          img {
            border-radius: 5vh;
            height: 7vh;
          }

          .data {
            margin-top: 2vh;
            margin-left: 2vw;

            h4 {
              margin-bottom: 1vh;
              font-weight: 700;
            }

            span {
              color: $softPink;
              font-weight: 500;
            }
          }
        }

        p {
          font-weight: 400;
          font-size: $fontSize;
          text-align: left;
        }
      }
    }
  }

  //cards

  .card:nth-child(1) {
    position: absolute;
    top: 55vh;
  }

  .card:nth-child(2) {
    position: absolute;
    top: 58vh;
    left: 36vw;
  }

  .card:nth-child(3) {
    position: absolute;
    top: 61vh;
    left: 68vw;
  }

  //ratings

  .rated:nth-child(1) {
    position: absolute;
    top: 20vh;
    right: 20vw;
  }

  .rated:nth-child(2) {
    position: absolute;
    top: 30vh;
    right: 15vw;
  }

  .rated:nth-child(3) {
    position: absolute;
    top: 40vh;
    right: 10vw;
  }

  footer {
    position: absolute;
    bottom: 5vh;
    justify-content: center;
    width: 100vw;
  }
}
